<%- include('partials/header') %>

    <form action="/search" method="post">
        <div class="search-container">
            <!-- <label for='search-lable' id="suba"class='search-lable'>Search</label> -->
            <input type="text" autocomplete="off" name="searchTxt" class="search-input" placeholder="Search Product Name or By Product Type" required>
            <button class="search-btn" type="submit">></button>
        </div>
    </form>



    <% if( Products.length != 0 ) { %>

        <div class="search-text">
            <h3> Showing your search results : </h3>
        </div>

        <div class="box">

            <% Products.forEach(product => { %>

                <div class="card-container">
                    <div class="card">
                        <div class="img">
                            <img src="/images/<%=product.Type%>.png" alt="product-img">
                        </div>
                    </div>
                    <p class="productName"></p>
                    <div class="btn">
                        <a href="/product/<%=product.Product_id%>"> <button> <%=product.Product_name%></button></a>

                    </div>
                </div>

                <%})%>

        </div>

        <% } %>


            <%- include('partials/footer') %>