<%- include('partials/header') %>

    <div class="shop-head">
        <h1> <span><%= Angadi[0].Product_name%></span>is currently available in </h1>
    </div>

    <div class="shop-container">

        <div class="view-data shop" id="shops">
            <h2>Shop data</h2>

            <table class="data-table">
                <tr>
                    <th>Shop id</th>
                    <th>Shop name</th>
                    <th>Shop loc</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th class="green">Price</th>
                </tr>

                <% Angadi.forEach(shop => { %>

                    <tr>
                        <td>
                            <%=shop.Shop_id%>
                        </td>
                        <td>
                            <%=shop.Shop_name%>
                        </td>
                        <td>
                            <%=shop.Shop_loc%>
                        </td>
                        <td>
                            <%=shop.Phone%>
                        </td>
                        <td>
                            <%=shop.Email%>
                        </td>
                        <td>
                            ₹
                            <%=shop.Price%> /-
                        </td>
                    </tr>

                    <%})%>

            </table>

        </div>



        <div class="shop-btn-div btn">
            <a href="/"> <button>Home
        </div>

    </div>



    <%- include('partials/footer') %>